PORT=
GIN_MODE=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

JWT_SECRET=
JWT_EXPIRES_IN=
AUTH_TOKEN_EXPIRES_IN=

AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
AWS_S3_ENDPOINT=

UPLOAD_PATH=
MAX_UPLOAD_SIZE=